/* Global styles */
font-family: 'DM Serif Display', serif;
  h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: 600
    }
  
  h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 600
    }
  
  h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      font-weight: 600
    }
  
  h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600
    }
  
  h5 {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 600
    }
  
  h6 {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 600
    }
    
  p {
      font-family: 'Noto Serif', sans-serif;
    }
  


  /* Navigation styles */
  nav {
    background-color: #360259;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

.align-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}/*active on circle logo*/

/* next is for the header sliders*/

/* {box-sizing:border-box}*/


  /************this is the problem point... 
  I think I may need to add javascript, 
  to make this piece of code work*******/

  /***** Here is the link to where I've been referencing code.
  https://www.w3schools.com/howto/howto_js_slideshow.asp
  
  It also gives example of how to make automatic
  slides, USING JAVASCRIPT. I may need to add a JAVASCRIPT file
  into the folder, to make the slideshow run.*******/
/* Fading animation */

.HeaderLogo {
    top: 18px;
    left:60px /*active on circle logo picture*/
}
  

.navbar-header-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  /*width: 360px;
  height: 81.5px;*/
  overflow: hidden;
}

  /* Hero image styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}
  
  .hero img {
    max-width: 100%;
  }
  
  .hero h1 {
    font-size: 24px;
    margin-top: 20px;
  }

.headerNavigation {
  position: relative;
  text-align: center;
  color: #360259;
}

  .homepage-carosel-mid-fi-hi-f {
    position: absolute;
    top: 59px; /* this fits flush with navbar-header-icon*/
    left: calc(50% - 180px);
    width: 360px;
    height: 359px;
  }
  
  /* Body content styles */
  .content {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
  
  }
  
  .content h2 {
    font-size: 20px;
  }
  
  .content p {
    line-height: 1.5;
  }
  
.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners - this whole part ".card" is not currently functioning*/
    background-color: rgba(54,2,89,1);
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}/**/
  
  /* Add some padding inside the card container */
.container1 {
    padding: 2px 16px;
    color: white;
    text-align: center;
}/**/
.containerPrograms {
  padding: 32px 23px 28px;
  margin: 20px 2px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;

}/**/
.container2 {
  padding: 2px 16px;
  color: white;
}/**/

img {
    border-radius: 5px 5px 0 0;
}/*

  /* Footer styles */
  footer {
    background-color: #360259;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .theme-blue {
    color: #360259;
  }
  .theme-orange {
    color: #cc851c;
  }
  .theme-green {
   color: #8ab042;
  }
  .theme-grey {
    color: #666666;
  }
  .theme-white {
    color: #fff;
  }
  .theme-background-blue {
    background-color: #360259;
    color: #fff;
  }
  .theme-background-orange {
    background-color: #cc851c;
    color: #fff;
  }
  .theme-background-green {
    background-color: #8ab042;
    color: #fff;
  }
  .theme-background-grey {
    background-color: #666666;
    color: #fff;
  }
  .theme-background-white {
    background-color: #fff;
    color: #360259;
  }
  .donate-bar {
    padding: 32px 23px 28px;
    margin: 20px 2px;
    background-color: #F0F0F0; /* changes color of donate bar box */
  }
  .donate-bar > div:first-child {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-right: 1px dotted #360259;
    margin-top: 19px;
    font-size: 25px;
    padding: 0;
  }
  .donate-buttons>li>a {
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 3px;
    border-radius: 5px;
  }
  .btn-blue-other,
  .btn-blue {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #6165AF;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 75px;
    height: 37px;
    margin-top: 8px;
  }
  .btn-pink {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #C93E8B;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 114px;
    height: 37px;
    margin-top: 8px;
  }
  #other-input {
    display: none;
  }
  #other-input input {
    position: relative;
    font-weight: bold;
    background-color: #fff;
    color: #360259;
    border-radius: 5px;
    border: 0;
    border: 5px solid #360259;
    padding: 0 0 3px 15px;
    width: 75px;
    height: 37px;
    margin: 18px 3px 0;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
  }
  #other-input span {
    font-family: inherit;
    font-weight:bold;
    color: #360259;
    position: absolute;
    padding: 23px 12px;
    z-index: 10;
    pointer-events: none;
  }
  .impact {
    font-size: 1.1em;
    font-weight: bold;
    clear: both;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
  }
  .donate-buttons .active {
    background-color: #360259;
    border: 5px solid #360259;
    color: white;
  }
  .donate-buttons:focus {
  outline: -webkit-focus-ring-color auto 0px;
  }
  .donate-buttons li:last-child {
    font-size: 17px;
    line-height: 37px;
    padding-left: 20px;
    padding-top: 15px;
  }
  
.wells { /* I took this element from donate page connection, from external code
  so I could change the background color of the box: I changed . well to .wells)
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #360259;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
  }
}
/* for glas text overlays*/

.box{
    position: relative;
    /*display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    align-items:center;
    justify-content:center;
    top: 60%; /* Adjust this value to move the positioned div up and down */
    background: rgba(178, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: white;
    width: 100%; /* Set the width of the positioned div */
    height: 10%;
}

.btn-default {
  color: #fff;
  background-color: #C93E8B;
  border-color: #C93E8B;

}
/*<div class="card-img-overlay box">
    <img class="card-img-top" src="img/green.jpg" alt="Card image" style="width:100%">
    <h4 class="card-title text">Title</h4>
</div>

<div class="container">
        <div class="card img-fluid" style="padding: 32px 23px 28px">
            <img class="card-img-top" src=".jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay box">
                <h4 class="card-title text">Title</h4>
            </div>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a href="#" class="btn btn-danger">Learn more</a>
        </div>
    </div>*/
    